In [ ]:
'''
Final output dfFinal1 is the output the company wanted for their Task 3 change in mandate. It is to identify actions (column remarks)
a staff needs to do for each account holder. This is a continuation from task1n2, thats why this is also uploaded to github

Additional point to note: "count" column refers to how many times each unique individual appears in dfFinal1, for reference
'''

In [12]:
import pandas as pd
fn = "newmandate_acc.xlsx"
fntest = "newmandate.xlsx"
dfTask2 = pd.read_excel("task1n2_PL_R2_v2.xlsx",sheetname= "Task2_Table", converters={'SI':str})

In [13]:
dfADA = pd.read_excel(fn, converters= {'SFX':str})
dfADA['Acc Number'] = dfADA['Acc Number'].str.strip()
dfADA['Acc Number'].tolist()
dfTest =pd.read_excel(fntest,converters={'SFX':str, 'Corp CIN':str})
dfTest

  Corp CIN  Acc Number Group    ind CIN SFX         Name
0  1234567         NaN     A  S4695746A  00    Apple Lim
1  1234567         NaN   NaN  S5868811B  00    Brave Lau
2  1234567         NaN     B  S8377456C  00  Charles Tan
3  1234567         NaN     A  S6026804D  00    David Lim

In [21]:
'''
output of the dfconcat, "x" is the change case "y" is the original credentials
'''
dfconcat = dfTest.merge(dfADA, left_on = ['ind CIN'], right_on= ['ind CIN'],
                       how = 'right')
dfconcat = dfconcat.drop(['Acc Number_x'],axis =1)
dfconcat = dfconcat.astype(str)
# type(dfconcat['Corp CIN_y'][0])
dfconcat

,Corp CIN_x,Group_x,ind CIN,SFX_x,Name_x,Corp CIN_y,Acc Number_y,Group_y,SFX_y,Name_y
0,1234567,A,S4695746A,00,Apple Lim,1234567,001-005162-8,A,00,Apple Lim
1,1234567,A,S4695746A,00,Apple Lim,1234567,0001-003579-05-0,A,00,Apple Lim
2,1234567,A,S4695746A,00,Apple Lim,1234567,0003-001933-01-3,A,00,Apple Lim
3,1234567,A,S4695746A,00,Apple Lim,1234567,0003-002011-02-1,A,00,Apple Lim
4,1234567,A,S4695746A,00,Apple Lim,1234567,0003-018997-03-6,A,00,Apple Lim
5,1234567,A,S4695746A,00,Apple Lim,1234567,0003-020908-01-6,A,00,Apple Lim
6,1234567,A,S4695746A,00,Apple Lim,1234567,0118-000200-01-8,A,00,Apple Lim
7,1234567,A,S4695746A,00,Apple Lim,1234567,001-018760-01,A,00,Apple Lim
8,1234567,A,S4695746A,00,Apple Lim,1234568,001-026485-0,A,00,Apple Lim
9,1234567,A,S4695746A,00,Apple Lim,1234569,001-033965-5,B,00,Apple Lim
10,1234567,nan,S5868811B,00,Brave Lau,1234567,001-005162-8,A,00,Brave Lau
11,1234567,nan,S5868811B,00,Brave Lau,1234567,001-018760-01,A,00,Brave Lau
12,1234567,nan,S5868811B,00,Brave Lau,1234568,001-026485-0,A,00,Brave Lau
13,1234567,nan,S5868811B,00,Brave Lau,1234569,001-033965-5,B,00,Brave Lau
14,1234567,B,S8377456C,00,Charles Tan,1234567,001-005162-8,A,00,Charles Tan
15,1234567,B,S8377456C,00,Charles Tan,1234568,001-026485-0,A,00,Charles Tan
16,1234567,B,S8377456C,00,Charles Tan,1234567,001-033965-5,A,00,Charles Tan
17,nan,nan,S1478175K,nan,nan,1234567,001-005162-8,A,00,Keith Kin
18,nan,nan,S1478175K,nan,nan,1234567,0001-003579-05-0,D,00,Keith Kin
19,nan,nan,S7114220I,nan,nan,1234567,0001-003579-05-0,C,20,Ice Ice
20,nan,nan,S2349083k,nan,nan,1234567,0001-003579-05-0,C,20,Jelly Bean
21,nan,nan,S1184805L,nan,nan,1234567,0001-003579-05-0,D,00,Lim Ah How

In [15]:
pd.isnull(dfTest['Group'])

0    False
1     True
2    False
3    False
Name: Group, dtype: bool

In [22]:
dfTask2 = dfTask2.astype(str)
dfADA = dfADA.astype(str)
dfconcat = dfconcat.astype(str)
type(dfconcat['Corp CIN_x'][0])

str

'''
these cases covers the column of remarks for the case if 'Corp CIN'
'ind CIN', 'SFX' and 'Name' columns are identical. Or else we go to the next section to append
the remarks. These for grouping cases

See the test cases in the 'Task3.jpg'
'''
testlist = []
NRIC = []

for row in dfconcat.iterrows():
    '''
    These are for "signer" cases of signer in D(beginning) not in F (Final)
    '''
    if pd.isnull(row[1]['SFX_y']) and pd.isnull(row[1]['Name_y']):
        a = "Delete"
        testlist.append(a)
        NRIC.append(row[1]['ind CIN'])
    
    # credentials for  4 columns the same  
    elif (row[1]['Corp CIN_x']== row[1]['Corp CIN_y']) and (row[1]['SFX_x'] == row[1]['SFX_y']) and \
    (row[1]['Name_x']==row[1]['Name_y']):
        if row[1]['Group_x']!= "" and pd.isnull(row[1]['Group_y']):
            a = "No Group"
            NRIC.append(row[1]['ind CIN'])
            testlist.append(a)
        elif pd.isnull(row[1]['Group_x']) and pd.isnull(row[1]['Group_y']):
            a = "No Group"            
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
        elif pd.isnull(row[1]['Group_y']) and pd.isnull(row[1]['Group_x']):
            a = "Grouping required in {}".format(row[1]['Group_y'])            
            NRIC.append(row[1]['ind CIN'])
            testlist.append(a)
        elif (row[1]['Group_x']!= "" and row[1]['Group_y']!= ""):
            a = 'regroup to {}'.format(row[1]['Group_y'])
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
        elif (row[1]['Group_x']== row[1]['Group_y']) and (row[1]['Group_x']!=""):
            a ="No Change"
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
        else:
            a = "please check"
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
    elif (row[1]['SFX_x']!= row[1]['SFX_y']) and (row[1]['Name_x']!= row[1]['Name_y']):
        a="Add {} grouping".format(row[1].Group_y)
        testlist.append(a)
        NRIC.append(row[1]['ind CIN'])
    else:
        print("Please check again")

In [31]:
for row in dfconcat.iterrows():
    #print(pd.isnull(row[1]['SFX_x']))
    print(row[1]['SFX_x']=="nan")

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
True
True
True
True

In [62]:
'''
these cases covers the column of remarks for the case if 'Corp CIN'
'ind CIN', 'SFX' and 'Name' columns are identical. Or else we go to the next section to append
the remarks. These for grouping cases

See the test cases in the 'Task3.jpg'
'''
testlist = []
NRIC = []

for row in dfconcat.iterrows():
    '''
    These are for "signer" cases of signer in D(beginning) not in F (Final)
    '''
    if (row[1]['SFX_y']=="nan") and (row[1]['Name_y']=="nan"):
        a = "Delete"
        testlist.append(a)
        NRIC.append(row[1]['ind CIN'])
    
    # credentials for  4 columns the same  
    elif (row[1]['Corp CIN_x']== row[1]['Corp CIN_y']) and (row[1]['SFX_x'] == row[1]['SFX_y']) and \
    (row[1]['Name_x']==row[1]['Name_y']):
        if row[1]['Group_x']!= "" and (row[1]['Group_y']=="nan"):
            a = "No Group"
            NRIC.append(row[1]['ind CIN'])
            testlist.append(a)
        elif (row[1]['Group_x']=="nan") and (row[1]['Group_y']!=""):
            a = "Grouping required in {}".format(row[1]['Group_y'])            
            NRIC.append(row[1]['ind CIN'])
            testlist.append(a)
        elif (row[1]['Group_x']!= "" and row[1]['Group_y']!= ""):
            a = 'regroup to {}'.format(row[1]['Group_y'])
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
        elif (row[1]['Group_x']== row[1]['Group_y']) and (row[1]['Group_x']!=""):
            a ="No Change"
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
        else:
            a = "please check"
            testlist.append(a)
            NRIC.append(row[1]['ind CIN'])
    elif (row[1]['SFX_x']!= row[1]['SFX_y']) and (row[1]['Name_x']!= row[1]['Name_y']):
        a="Add {} grouping".format(row[1].Group_y)
        testlist.append(a)
        NRIC.append(row[1]['ind CIN'])
    else:
        a= "Scenario recommendation not provided"
        testlist.append(a)
        NRIC.append(row[1]['ind CIN'])
print(len(testlist))
print(len(NRIC))

testlist_ic = list(set(zip(NRIC,testlist)))
print(testlist_ic)

22
22
[('S5868811B', 'Scenario recommendation not provided'), ('S1184805L', 'Add D grouping'), ('S7114220I', 'Add C grouping'), ('S8377456C', 'regroup to A'), ('S4695746A', 'Scenario recommendation not provided'), ('S5868811B', 'Grouping required in A'), ('S1478175K', 'Add D grouping'), ('S1478175K', 'Add A grouping'), ('S2349083k', 'Add C grouping'), ('S8377456C', 'Scenario recommendation not provided'), ('S4695746A', 'regroup to A')]

In [81]:
# since we already created remarks column back in "testlist_ic"
# make that column into a dataframe before merge with dfFinal1
NRIC = []
remarks = []
for item in testlist_ic:
    NRIC.append(item[0])
    remarks.append(item[1])
print(NRIC)
print(remarks)

# make into a dataframe
d = {'NRIC':NRIC, 'Remarks':remarks}
dfRemarks = pd.DataFrame(data=d)
print(dfRemarks)

# merge dfRemarks and dfconcat
dfRemarks1 = dfRemarks.merge(dfconcat, left_on = ['NRIC'], right_on= ['ind CIN'],how = 'right')
dfRemarks1

['S5868811B', 'S1184805L', 'S7114220I', 'S8377456C', 'S4695746A', 'S5868811B', 'S1478175K', 'S1478175K', 'S2349083k', 'S8377456C', 'S4695746A']
['Scenario recommendation not provided', 'Add D grouping', 'Add C grouping', 'regroup to A', 'Scenario recommendation not provided', 'Grouping required in A', 'Add D grouping', 'Add A grouping', 'Add C grouping', 'Scenario recommendation not provided', 'regroup to A']
         NRIC                               Remarks
0   S5868811B  Scenario recommendation not provided
1   S1184805L                        Add D grouping
2   S7114220I                        Add C grouping
3   S8377456C                          regroup to A
4   S4695746A  Scenario recommendation not provided
5   S5868811B                Grouping required in A
6   S1478175K                        Add D grouping
7   S1478175K                        Add A grouping
8   S2349083k                        Add C grouping
9   S8377456C  Scenario recommendation not provided
10  S4695746A                          regroup to A

,NRIC,Remarks,Corp CIN_x,Group_x,ind CIN,SFX_x,Name_x,Corp CIN_y,Acc Number_y,Group_y,SFX_y,Name_y,appendind
0,S5868811B,Scenario recommendation not provided,1234567,nan,S5868811B,00,Brave Lau,1234567,001-005162-8,A,00,Brave Lau,S5868811B_00_Brave Lau
1,S5868811B,Grouping required in A,1234567,nan,S5868811B,00,Brave Lau,1234567,001-005162-8,A,00,Brave Lau,S5868811B_00_Brave Lau
2,S5868811B,Scenario recommendation not provided,1234567,nan,S5868811B,00,Brave Lau,1234567,001-018760-01,A,00,Brave Lau,S5868811B_00_Brave Lau
3,S5868811B,Grouping required in A,1234567,nan,S5868811B,00,Brave Lau,1234567,001-018760-01,A,00,Brave Lau,S5868811B_00_Brave Lau
4,S5868811B,Scenario recommendation not provided,1234567,nan,S5868811B,00,Brave Lau,1234568,001-026485-0,A,00,Brave Lau,S5868811B_00_Brave Lau
5,S5868811B,Grouping required in A,1234567,nan,S5868811B,00,Brave Lau,1234568,001-026485-0,A,00,Brave Lau,S5868811B_00_Brave Lau
6,S5868811B,Scenario recommendation not provided,1234567,nan,S5868811B,00,Brave Lau,1234569,001-033965-5,B,00,Brave Lau,S5868811B_00_Brave Lau
7,S5868811B,Grouping required in A,1234567,nan,S5868811B,00,Brave Lau,1234569,001-033965-5,B,00,Brave Lau,S5868811B_00_Brave Lau
8,S1184805L,Add D grouping,nan,nan,S1184805L,nan,nan,1234567,0001-003579-05-0,D,00,Lim Ah How,S1184805L_00_Lim Ah How
9,S7114220I,Add C grouping,nan,nan,S7114220I,nan,nan,1234567,0001-003579-05-0,C,20,Ice Ice,S7114220I_20_Ice Ice
10,S8377456C,regroup to A,1234567,B,S8377456C,00,Charles Tan,1234567,001-005162-8,A,00,Charles Tan,S8377456C_00_Charles Tan
11,S8377456C,Scenario recommendation not provided,1234567,B,S8377456C,00,Charles Tan,1234567,001-005162-8,A,00,Charles Tan,S8377456C_00_Charles Tan
12,S8377456C,regroup to A,1234567,B,S8377456C,00,Charles Tan,1234568,001-026485-0,A,00,Charles Tan,S8377456C_00_Charles Tan
13,S8377456C,Scenario recommendation not provided,1234567,B,S8377456C,00,Charles Tan,1234568,001-026485-0,A,00,Charles Tan,S8377456C_00_Charles Tan
14,S8377456C,regroup to A,1234567,B,S8377456C,00,Charles Tan,1234567,001-033965-5,A,00,Charles Tan,S8377456C_00_Charles Tan
15,S8377456C,Scenario recommendation not provided,1234567,B,S8377456C,00,Charles Tan,1234567,001-033965-5,A,00,Charles Tan,S8377456C_00_Charles Tan
16,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,001-005162-8,A,00,Apple Lim,S4695746A_00_Apple Lim
17,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,001-005162-8,A,00,Apple Lim,S4695746A_00_Apple Lim
18,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,0001-003579-05-0,A,00,Apple Lim,S4695746A_00_Apple Lim
19,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,0001-003579-05-0,A,00,Apple Lim,S4695746A_00_Apple Lim
20,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,0003-001933-01-3,A,00,Apple Lim,S4695746A_00_Apple Lim
21,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,0003-001933-01-3,A,00,Apple Lim,S4695746A_00_Apple Lim
22,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,0003-002011-02-1,A,00,Apple Lim,S4695746A_00_Apple Lim
23,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,0003-002011-02-1,A,00,Apple Lim,S4695746A_00_Apple Lim
24,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,0003-018997-03-6,A,00,Apple Lim,S4695746A_00_Apple Lim
25,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,0003-018997-03-6,A,00,Apple Lim,S4695746A_00_Apple Lim
26,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,0003-020908-01-6,A,00,Apple Lim,S4695746A_00_Apple Lim
27,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,0003-020908-01-6,A,00,Apple Lim,S4695746A_00_Apple Lim
28,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,0118-000200-01-8,A,00,Apple Lim,S4695746A_00_Apple Lim
29,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,0118-000200-01-8,A,00,Apple Lim,S4695746A_00_Apple Lim
30,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234567,001-018760-01,A,00,Apple Lim,S4695746A_00_Apple Lim
31,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234567,001-018760-01,A,00,Apple Lim,S4695746A_00_Apple Lim
32,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234568,001-026485-0,A,00,Apple Lim,S4695746A_00_Apple Lim
33,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234568,001-026485-0,A,00,Apple Lim,S4695746A_00_Apple Lim
34,S4695746A,Scenario recommendation not provided,1234567,A,S4695746A,00,Apple Lim,1234569,001-033965-5,B,00,Apple Lim,S4695746A_00_Apple Lim
35,S4695746A,regroup to A,1234567,A,S4695746A,00,Apple Lim,1234569,001-033965-5,B,00,Apple Lim,S4695746A_00_Apple Lim
36,S1478175K,Add D grouping,nan,nan,S1478175K,nan,nan,1234567,001-005162-8,A,00,Keith Kin,S1478175K_00_Keith Kin
37,S1478175K,Add A grouping,nan,nan,S1478175K,nan,nan,1234567,001-005162-8,A,00,Keith Kin,S1478175K_00_Keith Kin
38,S1478175K,Add D grouping,nan,nan,S1478175K,nan,nan,1234567,0001-003579-05-0,D,00,Keith Kin,S1478175K_00_Keith Kin
39,S1478175K,Add A grouping,nan,nan,S1478175K,nan,nan,1234567,0001-003579-05-0,D,00,Keith Kin,S1478175K_00_Keith Kin
40,S2349083k,Add C grouping,nan,nan,S2349083k,nan,nan,1234567,0001-003579-05-0,C,20,Jelly Bean,S2349083k_20_Jelly Bean

In [82]:
# to make sure is unique individual, we append the "ind CIN", "SFX" ,and "Name" and then do a composite key
dfRemarks1['appendind'] = dfRemarks1['ind CIN'].map(str) + "_" + dfRemarks1['SFX_y'] + "_" + dfRemarks1['Name_y']

wordlist = dfRemarks1['appendind'].tolist()
wordfreq = []
for w in wordlist:
    wordfreq.append(wordlist.count(w))
pairs = list((zip(wordlist,wordfreq)))
pairs

[('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S5868811B_00_Brave Lau', 8),
 ('S1184805L_00_Lim Ah How', 1),
 ('S7114220I_20_Ice Ice', 1),
 ('S8377456C_00_Charles Tan', 6),
 ('S8377456C_00_Charles Tan', 6),
 ('S8377456C_00_Charles Tan', 6),
 ('S8377456C_00_Charles Tan', 6),
 ('S8377456C_00_Charles Tan', 6),
 ('S8377456C_00_Charles Tan', 6),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S4695746A_00_Apple Lim', 20),
 ('S1478175K_00_Keith Kin', 4),
 ('S1478175K_00_Keith Kin', 4),
 ('S1478175K_00_Keith Kin', 4),
 ('S1478175K_00_Keith Kin', 4),
 ('S2349083k_20_Jelly Bean', 1)]

In [83]:
'''
Put the unique individuals and the frequency count together
Next, unsplit the key by "_"
Put each of the components back into columns
'''
pairs = list(set(pairs)) # unique pairs
print("Unique pairs: \n {}".format(pairs))

indIC = []
SFInd = []
NameInd = []
Frequency = []
for item in pairs:
    IC,SF,name = item[0].split("_")
    indIC.append(IC)
    SFInd.append(SF)
    NameInd.append(name)
    Frequency.append(item[1])
print(indIC)

Unique pairs:
 [('S2349083k_20_Jelly Bean', 1), ('S5868811B_00_Brave Lau', 8), ('S1184805L_00_Lim Ah How', 1), ('S8377456C_00_Charles Tan', 6), ('S1478175K_00_Keith Kin', 4), ('S4695746A_00_Apple Lim', 20), ('S7114220I_20_Ice Ice', 1)]
['S2349083k', 'S5868811B', 'S1184805L', 'S8377456C', 'S1478175K', 'S4695746A', 'S7114220I']

In [84]:
# create a dataframe based on the list above
d = {'ind CIN':indIC, 'SFX':SFInd, 'Name':NameInd, 'Count':Frequency}
df = pd.DataFrame(data=d)

In [86]:
# now merge df with dfconcat by the field "ind CIN"
dfFinal = dfRemarks1.merge(df,left_on=['ind CIN'], right_on=['ind CIN'], how = 'left')
#print(dfFinal)
dfFinal1 = dfFinal[['ind CIN','Corp CIN_x','SFX', 'Name', 'Count']] # select needed columns
dfFinal1

      ind CIN Corp CIN_x SFX         Name  Count
0   S5868811B    1234567  00    Brave Lau      8
1   S5868811B    1234567  00    Brave Lau      8
2   S5868811B    1234567  00    Brave Lau      8
3   S5868811B    1234567  00    Brave Lau      8
4   S5868811B    1234567  00    Brave Lau      8
5   S5868811B    1234567  00    Brave Lau      8
6   S5868811B    1234567  00    Brave Lau      8
7   S5868811B    1234567  00    Brave Lau      8
8   S1184805L        nan  00   Lim Ah How      1
9   S7114220I        nan  20      Ice Ice      1
10  S8377456C    1234567  00  Charles Tan      6
11  S8377456C    1234567  00  Charles Tan      6
12  S8377456C    1234567  00  Charles Tan      6
13  S8377456C    1234567  00  Charles Tan      6
14  S8377456C    1234567  00  Charles Tan      6
15  S8377456C    1234567  00  Charles Tan      6
16  S4695746A    1234567  00    Apple Lim     20
17  S4695746A    1234567  00    Apple Lim     20
18  S4695746A    1234567  00    Apple Lim     20
19  S4695746A    1234567  00    Apple Lim     20
20  S4695746A    1234567  00    Apple Lim     20
21  S4695746A    1234567  00    Apple Lim     20
22  S4695746A    1234567  00    Apple Lim     20
23  S4695746A    1234567  00    Apple Lim     20
24  S4695746A    1234567  00    Apple Lim     20
25  S4695746A    1234567  00    Apple Lim     20
26  S4695746A    1234567  00    Apple Lim     20
27  S4695746A    1234567  00    Apple Lim     20
28  S4695746A    1234567  00    Apple Lim     20
29  S4695746A    1234567  00    Apple Lim     20
30  S4695746A    1234567  00    Apple Lim     20
31  S4695746A    1234567  00    Apple Lim     20
32  S4695746A    1234567  00    Apple Lim     20
33  S4695746A    1234567  00    Apple Lim     20
34  S4695746A    1234567  00    Apple Lim     20
35  S4695746A    1234567  00    Apple Lim     20
36  S1478175K        nan  00    Keith Kin      4
37  S1478175K        nan  00    Keith Kin      4
38  S1478175K        nan  00    Keith Kin      4
39  S1478175K        nan  00    Keith Kin      4
40  S2349083k        nan  20   Jelly Bean      1

In [89]:
'''
Save the tablesheets in xlsx
'''
filename = 'task3.xlsx'
writer = pd.ExcelWriter(filename)

# write to csv the output
dfFinal1.to_excel(writer,sheet_name = "Task3_Table")
writer.save()